<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    {include file='public/css' /}
</head>
<body>
<div class="loading">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>


<div class="wrapper">

    {include file="public/left" /}

    <div id="content">

        {include file="public/nav" /}


        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="block-title">{$title}</h3>
                </div>
            </div>

            <div class="row">

                <div class="lorvens-widget">
                    <div class="bd-example bd-example-tabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">网站图片</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active show" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">邮箱和APP连接</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">网站其他设置</a>
                            </li>
                        </ul>
                        <div class="tab-content " id="myTabContent">

                            <input type="hidden"  id="mid" value="{$one.id}">

                            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="form-group">
                                    <label for="images">头部图</label>
                                    <br/>
                                    <img id="himgs" src="{$one.himgs?$one.himgs:'__ADMIN__/images/default.png'}"  onclick="$('#file').click();" style="width: 150px;height: 100px;">
                                    <input type="file" onchange="uploadhimgs()" class="form-control" id="file" style="display:none;" >
                                    <input type="hidden" id="himages" value="{$one.himgs?$one.himgs:''}" />
                                </div>

                                <p style="padding-bottom: 30px;">  </p>


                                <div class="form-group">
                                    <label for="images">底部图</label>
                                    <br/>
                                    <img id="fimgs" src="{$one.fimgs?$one.fimgs:'__ADMIN__/images/default.png'}"  onclick="$('#files').click();" style="width: 150px;height: 100px;">
                                    <input type="file" onchange="uploadfimgs()" class="form-control" id="files" style="display:none;" >
                                    <input type="hidden" id="fimages" value="{$one.fimgs?$one.himgs:''}" />
                                </div>


                                <button type="button" data-url="{:url('@v1/configs/submitimgs')}" class="btn btn-primary subimgs" style="margin-right: 100px;">提交</button>
                            </div>

                            <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                <div class="form-group col-md-12">
                                    <label for="email">网站名称</label>
                                    <input type="text" class="form-control" id="title" value="{$one.title}"
                                           aria-describedby="title" placeholder="请输入网站名称">
                                </div>



                                <div class="form-group col-md-12">
                                    <label for="facebook"> fackbook连接地址</label>
                                    <input type="text" class="form-control" id="facebook" value="{$one.facebook}"
                                           aria-describedby="facebook" placeholder="请输入fackbook地址">
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="email">邮箱地址</label>
                                    <input type="email" class="form-control" id="email" value="{$one.email}"
                                           aria-describedby="emailHelp" placeholder="请输入邮箱地址">
                                </div>

                                <div class="form-group">
                                    <label for="apps">APP连接地址</label>
                                    <textarea class="form-control" id="apps" rows="3">{$one.wechatapp?$one.wechatapp:''}</textarea>
                                </div>

                                <div class="form-group">
                                    <label for="foot">网站底部设置</label>
                                    <textarea class="form-control" id="foot" rows="3">{$one.foot?$one.foot:''}</textarea>
                                </div>

                                <button type="button" data-url="{:url('@v1/configs/wangset')}" class="btn btn-primary confings" style="margin-right: 100px;">提交</button>
                            </div>

                            <div class="tab-pane fade " id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <p> 暂时未开发，有需要在开发！！！</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 基本面板
                <div class="col-md-12">
                    <div class="widget-area-2 lorvens-box-shadow">

                        <div class="lorvens-widget">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Example select</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">Example multiple select</label>
                                    <select multiple class="form-control" id="exampleFormControlSelect2">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Example textarea</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <div class="form-check row">
                                    <div class="col-sm-12 text-left">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="ex-check-2">
                                            <label class="custom-control-label" for="ex-check-2">Remember Me</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
                 -->
            </div>
        </div>

    </div>

</div>


<a id="back-to-top" href="#" class="back-to-top">
    <span class="ti-angle-up"></span>
</a>
{include file='public/js' /}
</body>
<script>




</script>
</html>