<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {include file="public/css" /}
</head>
<body>
<div id="content">


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="widget-area-2 lorvens-box-shadow">

                    <div class="lorvens-widget">
                        <form>

                            <div class="form-group">
                                <label for="user">用户名</label>
                                <input type="text" class="form-control" id="user" placeholder="请输入用户名">
                            </div>

                            <div class="form-group">
                                <label for="pwd">密码</label>
                                <input type="password" class="form-control" id="pwd" placeholder="请输入密码">
                            </div>

                            <div class="form-group">
                                <label for="status">用户状态</label>
                                <select class="form-control m-bottom10" id="status">
                                   <option value="1">正常</option>
                                   <option value="-1">禁止</option>
                                </select>
                            </div>

                            <!--
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Example textarea</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            -->
                              <button type="button" class="btn btn-outline-success add" style="margin-left: 200px;">提交</button>

                              <button type="button" class="btn btn-primary cancle" >取消</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /Main Content -->
</div>

    {include file='public/js' /}
 </body>

<script>
    $('.cancle').click(function(){
        parent.layer.closeAll();
    })

    /**
     * 添加
     */
    $('.add').click(function(){
       var  user = $.trim($('#user').val());

       var  pwd  = $.trim($('#pwd').val());

       var status = $("#status option:selected").val();


       if(user == '' || user == undefined){
           layer.msg('用户名不能为空');
           return false;
       }

       if(pwd == '' || pwd == undefined){
            layer.msg('密码不能为空');
            return false;
        }

       var purl = "{:url('member/add')}";

       $.post(purl,{'user':user,'pwd':pwd,'status':status},function(ret){

           if(ret.code == 200){
                 layer.msg(ret.msg,{icon:6},function(){
                     parent.location.reload();
                 });
             }

           if(ret.code == 500){
               layer.msg(ret.msg,{icon:5},function(){
                   parent.location.reload();
               });
           }

       },'json');
    });
</script>


</html>