<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{$title}</title>
   {include file='public/css' /}
</head>

<body>

	<div class="loading">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>


	<div class="wrapper">

        {include file="public/left" /}

		<div id="content">

			{include file="public/nav" /}


			<div class="container-fluid">
				<!-- Page Title -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="block-title">{$title}</h3>
					</div>
				</div>


				<div class="col-md-12">
					<button type="button"  data-url="{:url('member/add')}"  class="btn btn btn-outline-primary add">Add member</button>
				</div>


				<div class="row">
						<div class="col-md-12">
							<div class="widget-area-2 lorvens-box-shadow pb-3">

								<div class="row">

									<div class="col-sm-12">
										<table class="table table-bordered table-striped table-invioce">
											<thead>
												<tr>
													<th scope="col">ID</th>
													<th scope="col">username</th>
													<th scope="col">role</th>
													<th scope="col">user status</th>
													<th scope="col">ip</th>
													<th scope="col">create_time</th>
													<th scope="col">action</th>
												</tr>
											</thead>
											{volist name='list' id='vo'}
											<tbody>
												<tr>
													<th scope="row">{$vo.id}</th>
													<td>{$vo.users}</td>
													<td>
														{if $vo.role == 1}
														administrators
														{else /}
														Merchants
														{/if}
													</td>
													<td>
												     {if condition="$vo.status eq -1" /}
														<button type="button" onclick="changeStatus('{$vo.id}','{$vo.status}')" class="btn btn-outline-warning">off</button>
													{else /}
														<button type="button" onclick="changeStatus('{$vo.id}','{$vo.status}')" class="btn btn-outline-info">On</button>
                                                     {/if}
													</td>
													<td>{$vo.ip}</td>
													<td>{$vo.create_time}</td>
													<td>
                                                        <button type="button" data-href="{:url('@v1/member/edit')}?mid={$vo.id}" class="btn btn-outline-success edits">edit</button>
                                                         &nbsp;&nbsp;
                                                        <button type="button" data-href="{:url('@v1/member/del')}?mid={$vo.id}" class="btn btn-outline-danger dels">delete</button>
                                                    </td>
												</tr>
											</tbody>
											{/volist}
										</table>
                                     <!-- 分页       -->
										<div class="lorvens-widget">
											 {$list->render();}
										</div>

									</div>

								</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>


	<a id="back-to-top" href="#" class="back-to-top">
			<span class="ti-angle-up"></span>
	</a>
   {include file='public/js' /}
</body>
<script>
	$('.add').click(function(){

	var url  = $(this).attr('data-url');

		layer.open({
			type: 2,
			title: 'Add',
			shadeClose: true,
			shade: 0.8,
			area: ['50%', '70%'],
			content: url, //iframe的url
		})
	});

	$('.edits').click(function(){
		var urls  = $(this).attr('data-href');

		console.log(urls);

		layer.open({
			type: 2,
			title: 'edit info',
			shadeClose: true,
			shade: 0.8,
			area: ['50%', '70%'],
			content: urls, //iframe的url
		});
	});

	$('.dels').click(function(){
		var hrefs = $(this).attr('data-href');

		layer.confirm('Are you sure you want to delete？', {
			btn: ['yes','sorry'] //按钮
		}, function(){

			$.get(hrefs,function(ret){

				if(ret.code == 200){
					layer.msg(ret.msg,{icon:6},function(){
						parent.location.reload();
					})
				}

				if(ret.code == 400){
					layer.msg(ret.msg,{icon:6},function(){
						parent.location.reload();
					})
				}
			})

		}, function(){
			parent.layer.closeAll();
		});
	});

	function changeStatus(id,status){
		var change = "{:url('member/changes')}";

		$.post(change,{'id':id,'status':status},function(ret){
			  if(ret.code == 200){
			     layer.msg(ret.msg,{icon:6},function(){
			     	parent.location.reload();
				 })
			   }

			  if(ret.code == 404){
				  layer.msg(ret.msg,{icon:5},function(){
					  parent.location.reload();
				  })
			   }

			if(ret.code == 403){
				layer.msg(ret.msg,{icon:4},function(){
					parent.location.reload();
				})
			}
		},'json')
	}
</script>


</html>