<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    {include file='public/css' /}
</head>

<body>

<div class="loading">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>


<div class="wrapper">

    {include file="public/left" /}

    <div id="content">

        {include file="public/nav" /}


        <div class="container-fluid">
            <!-- Page Title -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="block-title">{$title}</h3>
                </div>
            </div>


            <div class="col-md-12">
                <button type="button" class="btn btn btn-outline-primary addGoods" data-url="{:url('cates/add')}">Add</button>
            </div>



            <div class="row">
                <div class="col-md-12">
                    <div class="widget-area-2 lorvens-box-shadow pb-3">

                        <div class="row">

                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped table-invioce">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">cates</th>
                                        <th scope="col">操作(action)</th>
                                    </tr>
                                    </thead>
                                    {volist name='list' id='vo'}
                                    <tbody>
                                    <tr>
                                        <th scope="row">{$vo.id}</th>
                                        <th scope="row">{$vo.pname}</th>
                                        <td>
                                            <button type="button" data-url="{:url('@v1/cates/edit')}?mid={$vo.id}" onclick="edit(this)" class="btn btn-outline-success">cates infos</button>
                                            &nbsp;&nbsp;
                                            <button type="button" data-url="{:url('@v1/cates/dels')}?mid={$vo.id}" onclick="del(this)" class="btn btn-outline-danger">delete</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    {/volist}
                                </table>
                                <!-- 分页       -->
                                <div class="lorvens-widget">
                                   {$list->render();}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<a id="back-to-top" href="#" class="back-to-top">
    <span class="ti-angle-up"></span>
</a>
{include file='public/js' /}

<script>
    function del(obj){
            var hrefs = $(obj).attr('data-url');

            if(hrefs == '' ||　hrefs == undefined){
                return false;
            }

            layer.confirm('您确定要删除？', {
                btn: ['确定','点错了'] //按钮
            }, function(){

                $.get(hrefs,function(ret){

                    if(ret.code == 200){
                        layer.msg(ret.msg,{icon:6},function(){
                            parent.location.reload();
                        })
                    }

                    if(ret.code == 400){
                        layer.msg(ret.msg,{icon:5},function(){
                            parent.location.reload();
                        })
                    }
                })

            }, function(){
                parent.layer.closeAll();
            });
    }

    function edit(obj){
        var urls = $(obj).attr('data-url');
        if(urls == '' ||　urls == undefined){
            return false;
        }
        layer.open({
            type: 2,
            title: 'see infos',
            shadeClose: true,
            shade: 0.8,
            area: ['50%', '80%'],
            content: urls, //iframe的url
        })
    }

</script>
</body>

</html>