<!DOCTYPE html>
<html  >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{$title}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="__FM__/css/style.css" />

<body>

<div class="login-container">
    <h1>11111</h1>

    <div class="connect">
        <p></p>
    </div>

    <form method="post" id="loginForm">
        <div>
            <input type="text" name="user" class="username" placeholder="用户名" autocomplete="off"/>
        </div>
        <div>
            <input type="text" name="phone"  placeholder="电话"class="password" value="" />
        </div>
        <div>
            <input type="text" name="address" class="password" placeholder="详细地址" value="" />
        </div>
         <button type="button" data-url="{:url('index/orderadd')}" onclick="addOrder(this)" >提 交</button>
    </form>

<!--    <a href="register.html">-->
<!--        <button type="button" class="register-tis">还有没有账号？</button>-->
<!--    </a>-->

</div>

<script src="__FM__/js/jquery.min.js"></script>
<script src="__FM__/js/common.js"></script>
<!-- layui -->
<script src="__ADMIN__/layui/layui.all.js"></script>
<!--背景图片自动更换-->
<script src="__FM__/js/supersized.3.2.7.min.js"></script>
<script src="__FM__/js/supersized-init.js"></script>
<script src="__FM__/js/jquery.validate.min.js"></script>

<script src="__FM__/js/address.js"></script>

<!--<script type="text/javascript"> (function() { var s = "_" + Math.random().toString(36).slice(2); document.write('<div style="" id="' + s + '"></div>'); (window.slotbydup = window.slotbydup || []).push({ id: "u4923786", container:  s }); })(); </script><script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/c.js" async="async" defer="defer" ></script>-->
</body>
</html>