<!DOCTYPE html>
<html  >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{$title}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="__FM__/css/style.css" />

<body>

<div class="login-container">
    <h1>{$info.title}</h1>

    <div class="connect">
        <p></p>
    </div>

    <form method="post">
        <div>
            <input type="text" name="user" class="username" placeholder="username" autocomplete="off"/>
        </div>
        <div>
            <input type="text" name="phone"  placeholder="phone"class="password" value="" />
        </div>
        <div>
            <input type="text" name="address" class="password" placeholder="address" value="" />
        </div>

        <div>
            <input type="text" name="qutime" id="qutime" class="" placeholder="set time" value="" />
        </div>

        <div>
            <select id="pay" style="width: 270px; height: 42px;line-height: 42px;margin-top: 25px;">
                <option value=" 1 ">Alipay</option>
                <option value=" 2 ">Wechat</option>
            </select>
        </div>

         <input type="hidden" name="gid" value="{$Think.get.id}" />

         <button type="button" data-url="{:url('index/orderadd')}"  onclick="addOrder(this)" > Submit </button>
    </form>

</div>

<script src="__FM__/js/jquery.min.js"></script>
<script src="__FM__/js/common.js"></script>
<!-- layui -->
<script src="__ADMIN__/layui/layui.all.js"></script>
<script src="__FM__/js/address.js"></script>
<!--背景图片自动更换-->
<script src="__FM__/js/supersized.3.2.7.min.js"></script>
<script src="__FM__/js/supersized-init.js"></script>
<script src="__FM__/js/jquery.validate.min.js"></script>



<!--<script type="text/javascript"> (function() { var s = "_" + Math.random().toString(36).slice(2); document.write('<div style="" id="' + s + '"></div>'); (window.slotbydup = window.slotbydup || []).push({ id: "u4923786", container:  s }); })(); </script><script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/c.js" async="async" defer="defer" ></script>-->
</body>
</html>