
<script src="__ADMIN__/js/modernizr.min.js"></script>

<script src="__ADMIN__/js/jquery-3.2.1.min.js"></script>
<!-- Popper Library-->
<script src="__ADMIN__/js/popper.min.js"></script>
<!-- Bootstrap Library-->
<script src="__ADMIN__/js/bootstrap.min.js"></script>
<!-- morris charts -->
<script src="__ADMIN__/charts/js/raphael-min.js"></script>
<script src="__ADMIN__/charts/js/morris.min.js"></script>

<!-- Custom Script-->
<script src="__ADMIN__/js/custom.js"></script>

<!-- layui -->
<script src="__ADMIN__/layui/layui.all.js"></script>

<!--登录 -->
<script src="__ADMIN__/js/login.js"></script>

<!--添加商品-->
<script src="__ADMIN__/js/goods.js"></script>