
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="ti-menu" id="sidebarCollapse"></span>
        </div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/" target="_blank">
                    <span class="ti-heart">index</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="ti-user"></span>
                </a>
                <div class="dropdown-menu lorvens-box-shadow profile animated flipInY">
                    <h5>username: &nbsp;&nbsp; <span style="color:#93D1FF">{$Think.session.admin_user.users}</span></h5>
                    <a class="dropdown-item" href="{:url('@v1/configs/index')}">
                        <span class="ti-settings"></span> config</a>
                    <a class="dropdown-item" href="{:url('@v1/login/out')}">
                        <span class="ti-power-off"></span>out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>