<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{$title}</title>
   {include file='public/css' /}
</head>

<body>

	<div class="loading">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>


	<div class="wrapper">

        {include file="public/left" /}

		<div id="content">

			{include file="public/nav" /}


			<div class="container-fluid">
				<!-- Page Title -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="block-title">{$title}</h3>
					</div>
				</div>


				<div class="col-md-12">
					<button type="button" class="btn btn btn-outline-primary addGoods" data-url="{:url('goods/add')}">添加商品</button>
				</div>



              <div class="row">
						<div class="col-md-12">
							<div class="widget-area-2 lorvens-box-shadow pb-3">

								<div class="row">

									<div class="col-sm-12">
										<table class="table table-bordered table-striped table-invioce">
											<thead>
												<tr>
													<th scope="col">ID</th>
													<th scope="col">商品名称</th>
													<th scope="col">商品图</th>
													<th scope="col">商品状态</th>
													<th scope="col">创建时间</th>
													<th scope="col">操作</th>
												</tr>
											</thead>
											{volist name='list' id='vo'}
											<tbody>
												<tr>
													<th scope="row">{$vo.id}</th>
													<td>{$vo.title}</td>
													<td>
														<a href="{$vo.imgs}">
															<img src="{$vo.imgs}" style="width:120px;height:80px;" />
														</a>
													</td>
													<td>
													{eq name='vo.status' value='1'}
											        <button type="button" class="btn btn-outline-info">上架</button>
												     {else /}
												    <button type="button" class="btn btn-outline-dark">下架</button>
													{/eq}

													</td>
													<td>{$vo.create_time}</td>
													<td>
                                                        <button type="button" data-url="{:url('@v1/goods/edit')}?id={$vo.id}" class="btn btn-outline-success goodedits">编辑</button>
                                                         &nbsp;&nbsp;
                                                        <button type="button" data-url="{:url('@v1/goods/dels')}?id={$vo.id}" class="btn btn-outline-danger gooddels">删除</button>
                                                    </td>
												</tr>
											</tbody>
											{/volist}
										</table>
										<!-- 分页       -->
										<div class="lorvens-widget">
											{$list->render();}
										</div>
									</div>

								</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>


	<a id="back-to-top" href="#" class="back-to-top">
			<span class="ti-angle-up"></span>
	</a>
   {include file='public/js' /}
</body>

</html>