<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{$title}</title>
   {include file='public/css' /}
</head>

<body>

	<div class="loading">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>


	<div class="wrapper">

        {include file="public/left" /}

		<div id="content">

			{include file="public/nav" /}


			<div class="container-fluid">
				<!-- Page Title -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="block-title">{$title}</h3>
					</div>
				</div>


				<div class="col-md-12">
					<button type="button" class="btn btn btn-outline-primary">添加商品</button>
				</div>



				<div class="row">
						<div class="col-md-12">
							<div class="widget-area-2 lorvens-box-shadow pb-3">

								<div class="row">

									<div class="col-sm-12">
										<table class="table table-bordered table-striped table-invioce">
											<thead>
												<tr>
													<th scope="col">ID</th>
													<th scope="col">用户名</th>
													<th scope="col">用户状态</th>
													<th scope="col">ip</th>
													<th scope="col">创建时间</th>
													<th scope="col">操作</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">1</th>
													<td>15" Mackbook Pro Retina Display Model 2017</td>
													<td>$ 1999</td>
													<td>1</td>
													<td>$ 1999</td>
													<td>
                                                        <button type="button" class="btn btn-outline-success">编辑</button>
                                                         &nbsp;&nbsp;
                                                        <button type="button" class="btn btn-outline-danger">删除</button>
                                                    </td>
												</tr>
											</tbody>
										</table>
									</div>

								</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>


	<a id="back-to-top" href="#" class="back-to-top">
			<span class="ti-angle-up"></span>
	</a>
   {include file='public/js' /}
</body>

</html>